<div class="nav flex-column">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="oi oi-home" aria-hidden="true"></span> Home
    </NavLink>
    <NavLink class="nav-link" href="grassworld">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Grass World
    </NavLink>
    <!-- Add more navigation links as needed -->
</div>
